---
interface Props {
    name?: string;
    href?: string;
    idSuffix?: string;
    gray?: boolean;
}
const {
    name='Login', 
    href='login', 
    idSuffix='-login-button',
    gray=false
} = Astro.props;

const URL = import.meta.env.BASE_URL;
---
<a
    id={`${name.toLowerCase()}${idSuffix}`}
    class={`nav-button ${gray ? '' : 'bg-success'}`}
    href={`${URL}${href}`}
>
    {name}
</a>