---
import MainLanding from '../layouts/MainLanding.astro';
import LoginButton from "../components/navbar/components/LoginButton.astro";
import ContactButton from '../components/navbar/components/ContactButton.astro';
import { Icon } from "astro-icon"

import LogoLarge from "../images/logo-large-black.png"

const pageTile = "Health Analytics MX";

const BASE_URL = import.meta.env.BASE_URL;
const calculators_link = `${BASE_URL}calculators`;
const metrics_link = `${BASE_URL}metrics`;
const database_link = `${BASE_URL}database`;
---
<MainLanding title={pageTile} firstColor="" secondColor="bg-secondary" thirdColor="">
	<section slot="first" id="header-section" class="row d-flex justify-content-center">
		<header class="row text-center vstack gap-3">
			<div class="d-flex justify-content-center">
				<img src={LogoLarge} style="width: 150px;"/>
			</div>
			<div class="d-flex justify-content-center">
				<h1 class="landing-page-title">Artificial Intelligence Made Easy</h1>
			</div>
			<div class="d-flex justify-content-center">
				<div class="col-10 col-md-9 text-justify">
					<p class="lh-base text-muted" style="font-size: large; font-weight: 400;">
						Using Data Analytics for the Health & Wellness field to improve processes, obtain accurate risk assessments and  help businesses to achieve growth.
					</p>
				</div>
			</div>
		</header>
		<section class="row text-center pt-3">
			<div class="d-flex justify-content-center">
				<LoginButton idSuffix={'-homepage'} style={"width: 100px; font-weight: 500;"}></LoginButton>
				<ContactButton idSuffix={'-homepage'} style={"width: 120px; font-weight: 500;"}></ContactButton>
			</div>
		</section>
	</section>
	<section slot="second" id="second-landing-section" class="container-fluid text-primary">
		<div class="row text-center py-2">
			<div class="col-12 col-md-4 my-3">
				<div class="row vstack gap-2">
					<header class="text-start">
						<h4 class="landing-page-subtitle text-uppercase">
							<Icon name="dataviz"/>
							Data Visualization
						</h4>
					</header>
					<div class="text-start" style="min-height: 80px;"><p>
						Grow your business based on data-driven decisions by visualizing social, consumer, or popular trends.
					</p></div>
					<div class="text-start">
						<a href={metrics_link} class="btn btn-primary lh-lg" style="font-weight: 500;">View Reports</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 my-3">
				<div class="row vstack gap-2">
					<header class="text-start">
						<h4 class="landing-page-subtitle text-uppercase">
							<Icon name="datamodel"/>
							Medical Calculators
						</h4>
					</header>
					<div class="text-start" style="min-height: 80px;"><p>
						Our expert Artificial Intelligence Systems will help you improve your administrative and medical assessments throughout your practice.
					</p></div>
					<div class="text-start">
						<a href={calculators_link} class="btn btn-success lh-lg" style="font-weight: 500;">Get Started</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 my-3">
				<div class="row vstack gap-2">
					<header class="text-start">
						<h4 class="landing-page-subtitle text-uppercase">
							<Icon name="database"/>							
							Patient Database
						</h4>
					</header>
					<div class="text-start" style="min-height: 80px;"><p>
						Stored in highly secure private cloud servers, our databases integrate ICD-11 Codes and follow HIPAA Privacy specifications.
					</p></div>
					<div class="text-start">
						<a href={database_link} class="btn btn-primary lh-lg" style="font-weight: 500;">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section slot="third" id="third-landing-section" class="text-light container-fluid d-flex justify-content-center">
		<!-- TODO: FINISH SECTION -->
	</section>
</MainLanding>
