---
import NavButton from './components/NavButton.astro'
import LoginButton from './components/LoginButton.astro'
import ContactButton from './components/ContactButton.astro'

import LogoButton from './components/LogoButton.astro'
import MobileMenuButton from './components/MobileMenuButton.astro'
import MobileMenu from './MobileMenu.astro'

const URL = import.meta.env.BASE_URL;
const links = [
    // {name: "Home", href: "/"},
    {name: "Quickstart", href: "quickstart"},
    {name: "Calculator", href: "calculator"},
    {name: "Metrics", href: "metrics"},
    {name: "Database", href: "database"},
]
---
<nav
    id="navbar"
    class="navbar shadow-sm sticky-top bg-primary"
>
    <section id="navbar-content" class="container" style="height: 40px;">
        <div id="nav-buttons" class="d-none d-md-block">
            <LogoButton idSuffix={'desktop'}></LogoButton>
            {links.map(link => (
                <NavButton name={link.name} href={`${URL}${link.href}`}/>
            ))}
        </div>
        <div id="user-buttons" class="d-none d-md-block">
            <LoginButton></LoginButton>
            <ContactButton idSuffix={'desktop'}></ContactButton>
        </div>
        <div id="user-buttons" class="d-md-none">
            <LogoButton idSuffix={'mobile'}></LogoButton>
            <ContactButton idSuffix={'mobile'}></ContactButton>
        </div>
        <div id="navbar-logo-menu" class="d-md-none">
            <MobileMenuButton></MobileMenuButton>
        </div>
    </section>
</nav>
<MobileMenu>
    <div id="nav-buttons-mobile" class="vstack gap-2">
        {links.map(link => (
            <NavButton name={link.name} href={`${URL}${link.href}`} idSuffix={'-offside'}/>
        ))}
        <LoginButton idSuffix='-offside'></LoginButton>
        <ContactButton idSuffix='-offside'></ContactButton>
    </div>
</MobileMenu>